/**
 * Stylesheet
 */

@import 'settings'
@import 'functions'
@import 'reset'

*, *:before, *:after
    box-sizing: border-box

html
	height: 100%
	font-size: 100%

body
	margin: 0
	height: 100%
	background-color: white
	font-family: $font-primary
	font-size: 1rem
	line-height: 1
	color: $color-text
	background-color: $color-bg

header, footer
	text-align: center

header
	margin: rem(48px) auto 0 auto
	padding-top: rem(64px)
	max-width: rem(720px)

footer
	margin-bottom: rem(96px)
	font-size: rem(14px)

p, h1, h2
	margin-top: 0
	margin-bottom: rem(18px)

h1
	font-size: rem(32px)
	font-weight: bold
	line-height: rem(42px)

p
	margin-bottom: rem(18px)

a
	font-weight: bold
	color: $color-text
	text-decoration: none
	&:hover
		text-decoration: underline

.wrap
	padding: 0 rem($wrap-padding)

.title
	font-size: rem(24px)
	line-height: rem(32px)
	margin-bottom: rem(12px)
	text-transform: uppercase
	+bp-gt($bp-small)
		font-size: rem(32px)
		line-height: rem(42px)

.subtitle
	font-size: rem(14px)
	line-height: rem(18px)
	text-transform: uppercase
	+bp-gt($bp-small)
		font-size: rem(18px)
		line-height: rem(24px)

.small
	font-size: 0.75em

.canvas
	min-width: rem($canvas-width-min)

.canvas-wrap
	overflow-x: auto
	overflow-y: hidden
	padding-bottom: rem(12px)
	width: 100%
	+bp-gt($bp-small)
		margin-left: 0
		margin-right: 0
		padding-bottom: 0

.diagram__date
	font-weight: bold
	text-transform: uppercase
	font-size: rem(12px)

.diagram__value
	font-size: rem(12px)

main
	overflow: hidden
	margin: rem(48px) auto rem(64px) auto
	display: flex
	max-width: rem($body-width-max)
	flex-direction: column
	+bp-gt($bp-small)
		padding: 0 rem($wrap-padding)
		flex-direction: row

.legends
	display: flex
	justify-content: center
	flex-direction: column
	margin: 0 auto
	padding-top: rem(24px)
	width: rem($legends-width)
	+bp-gt($bp-small)
		padding-top: 0
		padding-left: rem(24px)

.legends__item
	display: flex
	margin-bottom: rem(6px)

.legends__title
	margin-bottom: rem(12px)
	font-size: rem(12px)
	font-weight: bold
	text-transform: uppercase

.legends__color
	flex-shrink: 0
	margin-right: rem(4px)
	border-radius: rem(3px)
	width: rem(32px)
	height: rem(24px)
	vertical-align: top

.legends__select
	display: block
	width: 100%
	height: rem(24px)
	appearance: none